.top{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;

}
.middle{

}
.bottom{
  background-color:  #66bfbf;
  margin-top: 50px;
  padding:50px;

  }

.ruler1{
  border-style: dotted none none;
  border-color: #EAF6F6;
  border-width: 5px;
  width: 5%;
}
.ruler2{
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}
.profile{
  padding-top: 50px;
  padding-bottom: 50px;
}

.p2{
  font-size: 2.5rem;
  font-weight: normal;
}

a{
  color:   #11999e;
}
body{
  margin: 0;
  text-align: center;
  font-size: 20px ;
}
h1{
  color:  #66bfbf;
  font-size: 50px;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: comic sans MS,sans-serif
}
h2{
  color: #66bfbf;
}
h3{
  color: #11999e;
}

.parahello{
  color: #40514e;
}
.skill1{
  margin-right: 30px;
  float: left;
  height: 25%;
  width:25%;
}
.skill2{
  float: right;
  margin-left: 30px;
  height: 25%;
  width:25%;
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;

}

.gin{
  text-decoration: underline;
}
.a{
  text-decoration: underline;
}
.cloud1{
position:absolute;
right: 300px;
top: 50px;

}
.cloud2{
  position: absolute;
  left: 300px;
  bottom:300px;
}
.footer-link{
  color: #11999e;
}
.copyright{
  color:#eaf6f6;
}
.lastline{
  margin-bottom: 50px ;
}
.skillbar{
  border-style: dotted none none;
  border-width: 7px;
  width: 20%;
  border-color: #EAF6F6;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
